.reveal a {
    color : white;
    text-decoration: underline;
}

figure {
    margin : 0;
}

img.no-border {
    border : none !important;
    background : none !important;
    box-shadow : none !important;
}

ul, li {
    list-style-type : none;
    margin : 0;
    padding : 0;
}

aside#watermark {
    position : absolute;
    left : 15px;
    top : 15px;
    color: #eee;
    font-family: "League Gothic", Impact, sans-serif;
    text-transform: uppercase;
    font-size : 60px;
}

#yugi_uno {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    margin-left: -200px;
    margin-top: -250px;
}

#presentation figure {
    display : flex;
    flex-direction: row;
}

#presentation figure img {
    margin-right : 50px;
}

#presentation figure a {
    text-decoration: none;
    color : #b6b6b6;
}

#presentation aside {
    position : absolute;
    bottom : 0;
    right : 0;
    height : 70px;
    width : 70px;
    margin-top : -40px;
}

#inversion img {
    height : 60vh;
}

#uno-article-2 {
    position: absolute;
    top : 10px;
    left : -100px;
    transform: rotateZ(-15deg);
    height: 60vh;
    opacity : 0;
}
#uno-article-3 {
    position: absolute;
    top : 100px;
    right : -100px;
    transform: rotateZ(25deg);
    height: 45vh;
    transition-delay: 1s;
    opacity : 0;
}
#uno-article-4 {
    position: absolute;
    bottom: 0;
    right : 100px;
    transform: rotateZ(5deg);
    height : 30vh;
    opacity : 0;
}

.present #uno-article-2,
.present #uno-article-3,
.present #uno-article-4 {
    opacity: 1;
}
.present #uno-article-2 {
    transition-delay: 1s;
}
.present #uno-article-3 {
    transition-delay: 2s;
}
.present #uno-article-4 {
    transition-delay: 3s;
}

#flat-burndown {
    position: absolute;
    height: 450px;
    top: 0;
    right: 0;
    transform: rotateZ(5deg);
}

#three-damn-questions li,
#new-questions li {
    margin : 20px 0 30px 0;
    text-align : center;
}

#three-damn-questions .question {
    font-size : 50px;
    line-height: 50px;
    display: block;
}

#three-damn-questions .question-meaning {
    color: #13daec;
    font-size : 40px;
    line-height : 40px;
}

#kpi-properties li,
#other-forms-of-daily li {
    list-style-type: disc;
}

#regle-de-trois h2, #regle-de-troie h2 {
    font-size : 5em;
    height : 600px;
    line-height : 600px;
    text-shadow : 0 0 2px #444, 0 0 4px #444, 0 0 6px #444
}

#regle-de-troie img {
    position: absolute;
    z-index : -1;
    bottom : -30px;
    right : -30px;
    height: 250px;
}

#source-link {
    font-size : 30px;
}
